"use strict";module.exports={getStyle:function(t,e){var s="",i=getRegExp("floats*:s*[^;]*","i");i.test(t)&&(s+=i.exec(t)[0]),i=getRegExp("margin[^;]*auto","i"),i.test(t)&&(s+=";"+i.exec(t)[0]),i=getRegExp("displays*:s*([^;]*)","i"),i.test(t)&&"flex"!=i.exec(t)[1]?s+=";"+i.exec(t)[0]:s+=";display:"+e,i=getRegExp("[^;s]*widths*:s*[^;]*","ig");for(var r=i.exec(t);r;)s+=";"+r[0],r=i.exec(t);return s},setImgStyle:function(t,e){return getRegExp("[^-]widths*:s*[^px]*;","i").test(";"+t.attrs.style)&&(t.attrs.style+=";width:100%"),"widthFix"==e&&(t.attrs.style+=";height:auto !important"),[t]},setStyle:function(t){return getRegExp("[^-]widths*:s*[^;]*","i").test(";"+t.attrs.style)&&(t.attrs.style+=";width:100%"),[t]}};