"use strict";var inlineTags={abbr:1,b:1,big:1,code:1,del:1,em:1,i:1,ins:1,label:1,q:1,small:1,span:1,strong:1};module.exports={getStyle:function(e,t){if(e){var i,n,s="";return s=-1!=(i=e.indexOf("display"))?e.substring(i,-1==(n=e.indexOf(";",i))?e.length:n):"display:"+t,-1!=e.indexOf("flex")&&(s+=";"+e.match(getRegExp("flex[:-][^;]+/g")).join(";")),s}return"display:"+t},getNode:function(e,t){return t||(delete e.attrs.src,e.attrs.style+=";width:20px !important;height:20px !important"),[e]},useRichText:function(e){return!(e.c||inlineTags[e.name]||e.attrs.style&&-1!=e.attrs.style.indexOf("display:inline"))}};