"use strict";var inlineTags={abbr:1,b:1,big:1,code:1,del:1,em:1,i:1,ins:1,label:1,q:1,small:1,span:1,strong:1};module.exports={getStyle:function(t){if(t){var e,n,i="";return-1!=(e=t.indexOf("display"))&&(i=t.substring(e,-1==(n=t.indexOf(";",e))?t.length:n)),-1!=t.indexOf("flex")&&(i+=";"+t.match(getRegExp("flex[:-][^;]+/g")).join(";")),i}return""},getNode:function(t,e){return e||"0"==t.attrs.i||(delete t.attrs.src,t.attrs.style+=";width:20px !important;height:20px !important"),[t]},useRichText:function(t){return!(t.c||inlineTags[t.name]||t.attrs.style&&-1!=t.attrs.style.indexOf("display:inline"))}};